    
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Avios - Products</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style2.css">
	

        
    </head>
    <body>
       <section class="container-fluid">
           <div class="row">
            <div class="col-4">
                <nav >
                  <h1> <a class="navbar-brand" href="/">Avios</a></h1>   
                </nav>
            </div>
            <div class="col-8 " style="padding-right: 0;">
                    <nav>
                        <div class="nav-border">
                        <ul>
                            <li class="navbar-item navbar-item3"><a href="/">Home</a></li>
						
                        </ul>
                    </div>
                    </nav>
            </div>
           </div>
        </section>

	
        <div>

        </div>
    <section class="contain">
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
          <div class="container">
          <divc class="row">
          <% data.forEach((product)=>{ %>
            <%	product.image.forEach((img) => {%>
            <div class="col-4">
                
                <div>
                  <img src="/<%=img%>" class="card-img-top" alt="...">
                </div>
              
            </div>
            <%   })%>
          </div>
        </div>
          <% })%>

        
        </div>

        <div class="col-2">

        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
          <div>
           <a class="btn btn-warning" href="/products">Back</a>
          </div>
        </div>
        <div class="col-3">

        </div>

      </div>

    </section>

	 
	   <script src="/javascripts/index"></script>
        <script src="/javascripts/script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>