body {
  overflow: hidden;
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-bg {
  /* background-image: url(/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  height: 625px;
}

.search {
  text-align: center;
  margin-top: 200px;
}

h1 {
  color: white;
}

.input {
  background: transparent;
  color: white;
}

.searchbtn {
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 850px;
  margin-top: -850px;
}

.start-button {
  margin-left: 20px;
  color: white;
  position: absolute;
  font-weight: bold;
}

.start-button2 {
  margin-right: 20px;
  color: white;
  /* position: absolute; */
  font-weight: bold;
  float: right;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  float: right;
  margin-right: 30px;
}

.navbar-item a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(170, 80, 255);
}

.navbar-item a:hover {
  color: rgb(0, 0, 0);
}

.reg-form {
  margin-top: 100px;
}

.form-container {
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: 2px 5px 5px 1px rgba(184, 125, 125, 0.2);
}

.item-line {
  text-decoration: underline;
}

.form-btn {
  background-color: rgb(170, 80, 255);
  color: white;
  border: none;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  display: inline;
}

.form-control:focus {
  background-color: rgb(229, 203, 253);
  border: 1px solid white;
  color: white;
  opacity: 0.6;
}
.btn-p {
  display: inline;
  margin-left: 5px;
}
.nav-border {
  background-color: yellow;
  height: 50px;
  width: fit-content;
  float: right;
  padding: 10px 30px 10px 30px;
}

.para {
  color: rgb(170, 80, 255);
}
